@font-face {
    font-family: basicFont;
    src: url(Fonts/Quicksand_Book.otf);
}
*{
	margin: 0;
    font-family: basicFont,Monospace,sans-serif;
	font-size: 15px;
}

body {
	background-color: #ffffff;
}

.header {
	background-color: #fafafa;
	margin-bottom: 20px;
}
a, a:hover, a:focus{
   text-decoration: none; 
}
.cart-btn{
	position: fixed;
	right: 5px;
	top: 5px;
}
.siteLogo{
	margin-top: 45px;
	margin-left: 30px;
}
.siteTitle{
    height: 130px;
    display: block;
    text-align: center;
}
.teaWallpaper{
    background: url(Images/Tea_Loose.jpg);
    background-repeat: round;
    display: block;
    height: 210px;
    width: 100%;
}
.tea-store-nav-bar{
    padding: 5px;
}
.tea-store-nav-bar li{
	display: inline-block;
	list-style: none;
	margin-right: 10px;
	min-width: 100px;
    padding: 5px;
	text-align: center;
}
.tea-store-nav-bar li:hover {
	background-color: #dadada;
}
.tea-store-nav-bar li a{
	text-decoration: none;
	color: black;
}
.teas-filters{
	width: 600px;
	margin: 5px auto 30px auto;
}
.teaImg{
    height: 160px;
    width: 160px;
}
.teaItem{
    display: block;
    padding: 15px;
    height: 350px;
	align-content: center;
}
.narrow{
	margin-top: 30px;
	padding-left: 130px;
	padding-right: 130px;
}
.about-container {
	margin: 0 auto;
	width: 1000px;
}

.about-section{
	max-width: 400px;
}

.about-section.right{
	margin-left: 40px;
}
.teaFlowerImg{
	background: url(Images/Tea-Flowers-Wallpaper.jpg);
    background-repeat: round;
    display: inline-block;
	height: 270px;
	margin-top: 20px;
	width: 400px;
}
.teaCupImg{
	background: url(Images/Tea_Cup.jpg);
    background-repeat: round;
    display: inline-block;
    height: 250px;
	width: 400px;
	margin-bottom: 20px;
}
.items{
}
.item{
	display: block;
	width: 250px;
	margin: 0 auto;
	text-align: center;
}
.cartCounter{
	position: absolute;
	top: -20px;
	right: -12px;
	font-size: 10px;
	font-weight: bolder;
	padding: 2px 5px;
	border-radius: 100%;
	background: #EF423C;
	color: white;
}



.checkbox-filters{
	margin-top: 10px;
	margin-left: 20px;
	padding: 0;
}

.aside-filter-header {
	margin: 20px 0 10px 0;
}

.checkbox-filters .checkbox {
	margin: 5px 0;
}
.shoppingCart{
	position: relative;
	margin-right: 10px;
}
.qty{
	width: 40px;
	padding: 2px;
	height: 24px;
	font-size: 14px;
	text-align: center;
}
.qtyWrap{
	margin: 10px;
	margin-bottom: 15px;
}
.successMsg{
	display: none;
}
.homeTitle{
	margin: 20px;
	margin-left: 55px;
}
.mainView{
	background-color: #ffffff;
	margin: 0 auto 50px auto;
	width: 1300px;
}
.cartTitle{
	margin-left: 10px;
	margin-bottom: 20px;
	text-decoration: underline;
	font-weight: bold;
	clear:both;
}

.cart-total {
	margin-left: 10px;
	margin-bottom: 20px;
}

.searchResultErr{
	font-weight: bold;
	text-align: center;
	background: #F0EFEE;
	padding: 3px;
}
.Checkout{
	margin-left: 5px;
	font-size: 16px;
	font-weight: bold;
}
