<section class="add-edit-tea-dialog">
    <div class="title-wrapper">
        <h1>{{ctrl.title}}</h1>
    </div>   
    <div class="container" layout="column"> 
        <md-input-container>
            <label>Name</label>
            <input ng-model="ctrl.tea.name">
        </md-input-container>
        <md-input-container>
            <label>Type</label>
            <md-select ng-model="ctrl.tea.teaType">
                <md-option ng-repeat="type in ctrl.teaTypes" ng-value="type.name">
                    {{type.name}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Price</label>
            <input ng-model="ctrl.tea.price">
        </md-input-container>
        <md-input-container>
            <label>Caffeine Level</label>
            <md-select ng-model="ctrl.tea.caffeineLevel">
                <md-option ng-repeat="caffeLevel in ctrl.caffeineLevels" ng-value="caffeLevel.key">
                    {{caffeLevel.value}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <label>Description</label>
            <textarea ng-model="ctrl.tea.description"></textarea>
        </md-input-container>
        <md-input-container class="image-uploader-wrapper">
            <span class="image-uploader-text">Add Picture</span>
            <input type="file" class="image-uploader-button" ngf-select ng-model="ctrl.teaImage" name="file" accept="image/*" ngf-max-size="5MB" />
            <p>{{ctrl.teaImage.name}}</p>
        </md-input-container>
        <div>
            <md-button class="md-primary md-raised" ng-click="ctrl.save()">Add</md-button>
        </div>
    </div>
</section>