<div class="teas-filters">
    Search by name:
    <input class="form-control" type="text" ng-model="ctrl.searchText"/>
    <select class="form-control" ng-model="ctrl.orderbyfilter">
        <option selected value="">select filter</option>
        <option value="+price">price - low to high </option>
        <option value="-price">price - high to low</option>
    </select>
</div>
<section layout="row">
    <aside flex="15" class="checkbox-filters">
        <div class="aside-filter-header">
            <h3 class="">Filter By Type:</h3>
        </div>        
        <div class="checkbox" ng-repeat="teaType in ctrl.teaTypeList">
            <label>
                <input type="checkbox" ng-model="ctrl.typeFilter[teaType.name]" />
                {{teaType.name}}
            </label>
        </div>        
        <div class="aside-filter-header">
            <h3 class="">Filter By Caffeine Level:</h3>
        </div>
        <div class="checkbox" ng-repeat="caffeineLvl in ctrl.caffeineLevels">
            <label>
                <input type="checkbox" ng-model="ctrl.caffeineFilter[caffeineLvl.key]" />
                {{caffeineLvl.value}}
            </label>
        </div>
    </aside>
    <div flex class="">        
        <div class="items" layout="row" layout-wrap>
            <div class="tea-item-wrapper" ng-class="{removed: ctrl.removedTea === tea._id}" flex="33" ng-repeat="tea in (ctrl.filteredTeas = (ctrl.teas | filter:{name:ctrl.searchText} | filter:ctrl.filterByTeaType | filter:ctrl.filterByCaffeineLevel | orderBy:ctrl.orderbyfilter))">                
                <tea-item tea="tea" add-to-cart="false" show-price="ctrl.showPrice">
                </tea-item>
                <div layout="row" layout-align="center center">
                    <md-button class="remove-tea-btn manage-tea-actions-btn md-fab md-mini md-ink-ripple" aria-label="remove tea" ng-click="ctrl.deleteTea(tea._id)">
                        <md-icon md-svg-src="public/Images/delete.svg"></md-icon>
                    </md-button>
                    <md-button class="manage-tea-actions-btn edit-tea-btn md-fab md-mini md-ink-ripple" aria-label="edit tea" ng-click="ctrl.openDialog($event, tea)">
                        <md-icon md-svg-src="public/Images/edit.svg"></md-icon>
                    </md-button>
                </div>                
            </div>  
            <h4 class="searchResultErr" ng-if="!ctrl.filteredTeas.length">There are no matched items</h4>
        </div>
    </div>
</section>

<md-button class="md-fab add-tea-btn" aria-label="Add Tea" ng-click="ctrl.openDialog($event)">
    +
</md-button>